<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFinalsApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7AFE14B1C3DB41F00566324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7AFE15F1C3DB41F00566324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7AFE16A1C3DB41F00566324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
